.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 800px) {
    padding-bottom: 35px;
    border-bottom: 1px solid black;
  }
}
